@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7))}
}

.slider {
    margin: auto;
    overflow:hidden;
    position: relative;
    width: 100%;

    &::before,
    &::after {
        content: "";
        height: 100px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    .slide-track {
        animation: scroll 20s linear infinite;
        display: flex;
        width: calc(250px * 14);
    }

    .slide {
        height: 100px;
        width: 250px;
    }
}


.img-carross {
    max-width: 150px;
    max-height: 150px;
    padding: 20px;
}

.forms {
    display: flex;
    max-width: 66%;
    margin-left: 27%;
}
.forms-ong {    
    margin-left: 100px;
}

.input-forms {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    margin: 0 0 5px 0;
    gap: 10px;
    width: 460px;
    height: 48px;
    background: #F8FAFC;
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.pagination-dots-div {
    display: flex;
}

.myButton-forms {
	box-shadow: 3px 4px 0px 0px #276873;
	background-color:#599bb3;
	border-radius:18px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton-forms:hover {
	background-color:#408c99;
}
.myButton-forms:active {
	position:relative;
	top:1px;
}

.divteste {
    display: flex;
    justify-content: center;
}

.h1.h1teste{
    font-family: Roboto;
    font-weight: 700 - bold;
    font-size: 240px;
    line-height: 160px;
    letter-spacing: 0;
}


.card {
    display: flex;
    justify-content: center;
}

.text-card {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: right;
    display: flex;
    align-self: center;
}

.img-card {
    display: flex;
    align-self: center;
    width: 684px;
    height: 448px;
}
