.bg-green {
  background-color: #D0EFE9;
}

.bg-green-destaque {
  background-color: #009C77;
}

.line-green {
  background-color: #009C77;
  height: 2px;
  width: 100%;
}

.title {
  font-size: 5rem;
}

.carousel-img {
  max-width: 100%;
  height: auto;
}

.small-image {
  width: 50px; 
  height: auto; 
} 
.font-light {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.font-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.font-medium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.font-semibold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.font-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.font-extra-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.metas-ods {
  color: #007A5D;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}