@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
.bg-green {
  background-color: #D0EFE9;
}

.bg-green-destaque {
  background-color: #009C77;
}

.line-green {
  background-color: #009C77;
  height: 2px;
  width: 100%;
}
.small-image {
  width: 65px; 
  height: auto; 
} 
.font-light {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.font-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.font-medium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.font-semibold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.font-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.font-extra-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.metas-ods {
  color: #007A5D;
  font-weight: bold;
  padding-bottom: 25px;
}

.paragrafos-ods {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ods {
  margin:80px;
  font-size: 18px;
  text-align: center;
}
